services:
    app:
        image: 2x10/portfolio
        container_name: app
        build: 
            context: .
            dockerfile: Dockerfile
        env-file: .env
        restart: always
        ports:
            - "127.0.0.1:${PORT}:${PORT}"
