services:
    app:
        image: portfolio
        container_name: app
        build: 
            context: .
            dockerfile: Dockerfile
        restart: always
        env_file: .env
        expose:
            - "${HOST}:${PORT}:${PORT}"
        entrypoint: node .output/server/index.mjs
