services:
    # node app
    app:
        image: portfolio
        container_name: app
        build: 
            context: .
            dockerfile: Dockerfile
        restart: always
        env_file: .env
        expose:
            - "127.0.0.1:${PORT}:${PORT}"
        entrypoint: node .output/server/index.mjs
