services:
    app:
        image: portfolio
        container_name: app
        build: 
            context: .
            dockerfile: Dockerfile
        restart: always
        env_file: .env
        expose:
            - "127.0.0.1:3000:3000"
        entrypoint: node .output/server/index.mjs
