@use "breakpoints" as *;

@media (min-width: $bp-small) 
{
    .id-photo
    {
       width: 8rem;
       opacity: 1;
    }
}

@media (min-width: $bp-medium) 
{
    .id-photo
    {
        width: 15rem;
        opacity: 1
    }
}

@media (min-width: $bp-large) {
    .main-div 
    {
        width: 75%;
        border: 1px solid white;
        border-bottom: none;
    }

    .id-photo
    {
        width: 21rem;
        opacity: 1
    }
}