.main-div 
{
    padding-top: 70px; 
    z-index: 1;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.247) 0px 7px 29px 0px;
    width: 75%;
    margin: auto;

    background-color:#111111;
}

.main-div 
{
    width: 100%;
    border: none;
}

.main-div-content
{
    margin: auto;
    width:80%;
}

.top-div 
{
    position: fixed;
    top: 0;
    z-index: 200;

    display: grid;
    border-bottom: 1px solid #000000;

    height: 55px;
    width: 100%;

    background-color: #111111;

    overflow-x: auto;        
    overflow-y: hidden;     
    scrollbar-width: thin;    
}

.top-div button 
{
    z-index: 100;
    position:relative;
    margin-left:3px;
    margin-right:3px;
    
    height: 100%;
    width: 200px;
    background-color: #111;
    border: 2px solid #ffffff56;
    border-top: none;
    border-bottom: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.top-div select 
{
    font-size: 14px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    width: 200px;
    background-color: #111;
    border-radius: 0px;
    border: 2px solid #ffffff56;
    border-top: none;
    border-bottom: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.nav-left {
    height: 100%;
    display: flex;
    gap: 10px;
}

.nav-center 
{
    height: 100%;
    position: absolute;
}

.nav-right 
{
    height: 100%;
    display: flex;
}

.top-div button:hover
{
    background-color:#ffffff15;
}

.top-div-main
{
    box-shadow: rgba(255, 255, 255, 0.247) 0px 7px 29px 0px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    height: 100%;
    border: none;
    width: 100%;
    margin: left;
}

.center
{
    float:center;
    text-align:center;
}

.id-photo
{
    width: 20rem;
    height:auto;   
    float: right;

    border: 1px solid white;
    border-radius: 9999px;
    opacity: 0;
}

.lang-list
{
    border: 1px solid #ffffff11;
    border-left:none;
    border-right:none;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;   
}

@media (min-width: 1000px) 
{
    .id-photo 
    {
        opacity: 1;
    }
}

@media (min-width: 1500px) {
    .main-div 
    {
        width: 75%;
        border: 1px solid white;
        border-bottom: none;
    }

    .top-div-main 
    {
        border: 1px #FFF solid;
        border-top: none;
        width:75%;
        margin: 0 auto;
    }
}

.grow-1 
{
  transition: all .2s ease-in-out;
}

.grow-1:hover 
{
   transform: scale(1.2);
}

.language-img 
{
    width: 40px;
    height: 40px
}

.description 
{
    color: gray;
    font-style: italic;
    font-size: 13px;
}

.project-content
{
    width:100%;
    min-width:250px;
    z-index: 2;
    position:relative;

    padding:1rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.project-content h2, 
.project-content p 
{
    margin: 0;
    margin-bottom: 10px; 
    line-height: 1.3;
    word-wrap: break-word; 
}

.project-div
{
    margin-bottom: 60px;
    margin-top: 60px;
    position: relative;    
    width: 100%;  
    height: 300px;

    display: flex; 
    overflow: hidden;  
    border: 1px solid white;
    border-radius: 13px;
    box-shadow: rgba(255, 255, 255, 0.247) 0px 7px 29px 0px;

    overflow-x: auto;        
    overflow-y: hidden;     

    scrollbar-width: thin;  
}

.project-image-wrapper 
{
    flex: 0 0 40%; 
    width: 40%;     
    overflow: hidden;
    
    border-right: 1px solid #FFF;
}

.project-image-wrapper img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    transform-origin: left top;
    transform: scale(1.6);
    display: flex;

    -webkit-mask-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
    mask-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
}

.project-lang-wrapper 
{
    position:relative;
    height: 20px;

    display:flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.project-lang-wrapper p 
{
    display:flex;
    align-items: center;
    height: 100%;
    font-size: 13+px;
    border: 1px solid green;
    border-radius: 7px;
    padding: 0px 10px
}

.project-button-wrapper
{
    margin-top: auto;
    display:flex;
    justify-content: flex-end;
    width:100%;
    transition: all .2s ease-in-out;
}

.project-button-wrapper button 
{
    cursor: pointer;
    margin: 15px 5px;
    padding: 10px 10px;
    background-color:#3c1e98;
    border: 0px;
    border-radius: 7px;
    float:right;
}

.project-button-wrapper button:hover
{
    background-color: rgba(89, 0, 255, 0.37);
}

.project-button-wrapper img
{
    height: 12px;
    width: 12px;
}

.contact 
{
    position:relative;

    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 15px;         
}

.contact button
{
    cursor: pointer;
    border-radius:20px;
    border: 0px;
    height:70px;
    background-color: #00000000;
}

.line
{
    height:50px;
    background-color: #ffffff47;
    width:1px;
}

.contact button:hover
{
    background-color: #FFFFFF15;
    color: #3c1e98;
}


.contact img
{
    opacity: .47;
    height: 30px;
    width: 30px;
}

.big-line div {
  background-color: #ffffff47;
  height: 1px;
  width: 100%;
}

.big-line div:first-child {
  margin-top: 50px;
  margin-bottom: 300px;
}