.main-div 
{
    z-index: 1;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.247) 0px 7px 29px 0px;
    border: 1px solid white;
    border-top-style: none;
    border-bottom-style: none;
    
    margin: auto;
    padding:30px;

    background-color:#111111;
}

.main-div-content
{
    margin: auto;
    width:80%;
}

.top-div {
    position: fixed;
    z-index: 9999;

    display: flex;
    border: 1px solid #000000;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    gap: 10px;
    height: 55px;
    width: 100%;
    margin: auto;

    white-space: nowrap;

    background-color: #111111;

    display: flex;            
    overflow-x: auto;        
    overflow-y: hidden;     
    white-space: nowrap;      
    scrollbar-width: thin;    
}

.top-div::-webkit-scrollbar {
    display: none;
}

.top-div-item {
    flex: 0 0 auto;    
    height: 100%;
    width: 200px;
    min-width: 100px; 
    background-color: #111;
    border: 2px solid #ffffff56;
    border-top-style: none;
    border-bottom-style: none;
    color: white;
    cursor: pointer;
}

.top-div-clock
{
    display: flex;
    justify-content: center;
    align-items: center;

    color:#ffffff56;
    font-size: 20px;
}

.top-div-item:hover
{
    background-color:#ffffff15;
}


.top-div-main
{
    position: relative;
    width:75%;
    height: 100%;
    
    margin: 0 auto;
}

.left
{
    float:left
}

.right
{
    float:right
}

.center
{
    float:center;
    text-align:center;
}

.id-photo
{
    width: 15%;
    height: 15%;    
    float: right;

    border: 1px solid white;
    border-radius: 30px;
}

.grow-1 {
  transition: all .2s ease-in-out;
}

.grow-1:hover {
   transform: scale(1.2);
}

.language-img {
    width: 40px;
    height: 40px
}

.description {
    color: gray;
    font-style: italic;
    font-size: 13px;
}

.big-br {
    margin:100px;
}

.project-content
{
    z-index: 2;
    position:relative;

    padding:1rem 1.5rem;

    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.project-content h2, 
.project-content p {
    margin: 0;
    line-height: 1.3;
    word-wrap: break-word; 
}

.project-div
{
    position: relative;    
    width: 100%;  

    display: flex; 
    overflow: hidden;  
    border: 1px solid white;
    border-radius: 13px;
    box-shadow: rgba(255, 255, 255, 0.247) 0px 7px 29px 0px;
}

.project-div br
{
    margin: -9999px;
}

.project-image-wrapper {
    flex: 0 0 40%; 
    width: 40%;     
    overflow: hidden;
    
    border-right: 1px solid #FFF;
}

.project-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    transform-origin: left top;
    transform: scale(1.6);
    display: flex;

    -webkit-mask-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
    mask-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
}

.project-lang-wrapper 
{
    position:relative;
    top:10px;
    display: flex;
    gap: 5px; 
}

.project-lang-wrapper p 
{
    height: 100%;
    font-size: 13+px;
    border: 1px solid green;
    border-radius: 7px;
    padding: 0px 10px
}

.project-button-wrapper
{
    margin-top: auto;
    display:flex;
    justify-content: flex-end;
    width:100%;
    transition: all .2s ease-in-out;
}

.project-button-wrapper button 
{
    margin: 15px 5px;
    padding: 10px 10px;
    background-color:#3c1e98;
    border: 0px;
    border-radius: 7px;
    float:right;
}

.project-button-wrapper button:hover
{
    background-color: rgba(89, 0, 255, 0.37);
    transform: scale(1.05);
}

.project-button-wrapper img
{
    height: 12px;
    width: 12px;
}

.contact 
{
    position:relative;

    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 15px;         
}

.contact button
{
    border-radius:20px;
    border: 0px;
    height:70px;
    background-color: #00000000;
}

.line
{
    height:50px;
    background-color: #474747;
    width:1px;
}

.contact button:hover
{
    background-color: #FFFFFF15;
    color: #3c1e98;
}


.contact img
{
    height: 30px;
    width: 30px;
}
