@font-face {
  font-family: 'Century Gothic Regular'; 
  src: url('../../../public/font/century-gothic-regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: sans-serif; 
}

@font-face {
  font-family: 'Century Gothic Bold'; 
  src: url('../../../public/font/century-gothic-bold.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: sans-serif; 
}


html
{
  scrollbar-color: dark;
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic Regular'; 

    color: white;

    scroll-behavior: smooth;
}

h1 {
    font-size: 53px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.863);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.425);
    font-family: 'Century Gothic Bold'; 
}

h2 
{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.863);
    font-size: 23px;
    color: #fff;
    letter-spacing: -1.2px;

    font-family: 'Century Gothic Bold'; 
}

h3 
{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.863);
    font-size: 20px;
    color: #707070;
    letter-spacing: -1.2px;
}

a {
    color:rgb(109, 155, 220);
    font-weight:bold;
    text-decoration: none;
}

button 
{
    font-family: 'Century Gothic Regular'; 
    color: white;
    background-color: black;
}

p {
  font-size: 18x;
}

button 
{
  transition: background-color 0.3s ease, color 0.3s ease; 
}

body {
    background-color: #070707
}

.grow
{
  transition: all .2s ease-in-out;
}

.grow:hover 
{
   transform: scale(1.2);
}

.center 
{
    display: grid;
    justify-content: center;
}

.description 
{
    color: gray;
    font-style: italic;
    font-size: 13px;
}

.line
{
    height:50px;
    background-color: #ffffff47;
    width:1px;
}

.big-line div {
  background-color: #ffffff47;
  height: 1px;
  width: 100%;
}

.big-line div:first-child {
  margin-top: 50px;
  margin-bottom: 300px;
}


@-webkit-keyframes snowflakes-fall {
    0% {
        top:-10%
    } 100% {
        top:100%
    }
}
@-webkit-keyframes snowflakes-shake { 
    0% { 
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    } 50% {
        -webkit-transform:translateX(80px);
        transform:translateX(80px)
    } 100% {
        -webkit-transform:translateX(0px);
        transform:translateX(0px)
    }
}

@keyframes snowflakes-fall { 
    0% { 
        top:-10%
    } 100% {
        top:100%
    }
}
@keyframes snowflakes-shake { 
    0% {
        transform:translateX(0px)
    } 50% {
        transform:translateX(80px)
    } 100% { 
        transform:translateX(0px)
    }
}
.snowflake {
    filter: blur(.1px);
    opacity: 20%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px rgb(0, 0, 0);

    position:fixed;
    top:-10%;
    z-index:0;
    cursor:default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 4s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite; 
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake; 
    animation-duration: 10s, 2.2s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}
.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:2%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:3%;-webkit-animation-delay:6s,.5s;animation-delay: 6s,.5s}
.snowflake:nth-of-type(3){left:4%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:5%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:6%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:99%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:95%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:94%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
.snowflake:nth-of-type(10){left:87%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(11){left:85%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}

.noise-div 
{
    z-index: 0;
    width: 100%;
    height: 100%;
    scale: 400%;
    background: transparent url('/image/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: noisebg .2s infinite;
    opacity: .7;
}

.noise 
{
    z-index: 0;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('/image/noise.png') repeat 0 0;
    background-repeat: repeat;
    animation: noisebg .2s infinite;
    opacity: 1000;
}
  
@keyframes noisebg {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
